* {
  margin: 0px;
  padding: 0px;
}

html {
  background-color: #fff;
  background: #eee url('/logo_bg.png') no-repeat 0px 0px;
  padding: 20px 20px 20px 200px;
}

body {
  border: 1px solid #bbb;
  background-color: #eee;
  background-color: #fff;
  padding: 25px 20px 20px 20px; 
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.5em;
  color:#000;
}

h1, h2, h3, h4, h5 {
  margin: 1em 0em 0.5em 0em;
  padding: 2px 0px;
}

h1 {
  margin: 0em 0em 0.5em 0em;
  border-bottom: 3px solid #033;
}

h2 {
  margin: 2em 0em 0.5em 0em;
  border-bottom: 3px solid #033;
}

p {
  margin-bottom: 1em;
  text-align: justify;
}

ul, ol {
  margin: 0 0 1em 1.5em;
}

a {
  color: #056;
}

a:hover {
  color: #000;
}

img {
  border: 0;
}

form div {
  clear:left;
}

form div label {
  display:block;
  float:left;
  width:150px;
}

input, textarea {
  border:1px solid #bbb;
  background-color:#eee;
  padding:1px;
  margin:1px;
  vertical-align:middle;
}

input:hover, textarea:hover {
  background-color:white;
}

input:focus, textarea:focus {
  border:1px solid #055;
  background-color:white;
}

ul.error {
  color:red;
}

blockquote {
  margin: 22px 40px;
  upadding: 3px;
  color: #575757;
  padding: 0 50px;
  background: transparent url("blockquote.png") no-repeat 0 0;
}

.small {
  font-size:75%;
}

#footer {
  border-top: 3px solid #033;
  text-align: center;
  padding-top: 1em;
}

#navigation {
  position: absolute;
  width: 150px;
  left: 25px;
}

#navigation h1 {
  font-size: 1em;
}

div.toc {
  float: right;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 1em;
  margin: 0 0 2em 2em;
  line-height: 1.4em;
}

div.toc ul {
  margin: 0 0 0 1em;
}

div.toc ul ul {
  font-size: 0.8em;
}

div.toc ul ul ul {
  display: none;
}

